
mat-form-field.full { width: 100%; }
mat-form-field { flex: 1; min-width: 180px; }

.form {
  display:flex;
  gap: 2rem;
}

.form-segment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.controls {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.webcam-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.processing-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  z-index: 10;
} 
