.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-sidenav {
  width: 14rem;
  border-right: 1px solid #ddd;
  border-radius: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 1.75rem 1.25rem;
  border-radius: 0;
  transition: background 0.2s ease, color 0.2s ease;

  &.no-round-borders {
    border-radius: 0;
  }
}

.content {
  padding: 4rem 8rem;
}
